.act-list-item {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: space-between;
    box-sizing: border-box;
}

.act-list-item-left {
    /* max-width: 30%; */
    width: 18%;
    background-color: #cfe8fc;

}

.act-list-item-right {
    position:relative;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    /* max-width: 70%; */
    width: 82%;
    background-color: #fff;
    text-align: justify;
}

.print-btn {
    position: absolute !important;
    top: 10px;
    right: 10px;
}