.content {
    margin-bottom: 2%;
}

.content-main-receipt {
    text-align: left;
    font-size: 18px;
    margin-left: 45px;
    margin-top: 0;
    margin-bottom: 0;
}

.content-main-copy {
    text-align: left;
    font-size: 18px;
    margin-left: 45px;
    margin-top: 0;
    margin-bottom: 0;
}

.content-main-deceleration {
    text-align: left;
    font-size: 18px;
    margin-left: 45px;
    margin-top: 0;
    margin-bottom: 0;
}