.content-main-defective-list {
    display: block;
    font-size: 18px;
    text-align: justify;
}

.content-main-defective-list-indent {
    margin-left: 45px;
    font-size: 18px;
    text-align: justify;
}

.content-main-defective-list-p-item {
    margin-top: 0;
    margin-bottom: 0;
}

.content-main-defective-list-p-item-span-indent {
    margin-left: 15px;
}