.thing-data-list-input {
    border-bottom: rgb(16, 129, 235) 2px solid;
    padding-bottom: 2%;
}

.thing-data-list-input .thing-data-item:last-of-type {
    border-bottom: none;
    padding-bottom: 2%;
}