.sidebar-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1%;
}

.sidebar-selected {
    color: red;
}

.sidebar-list-item-52 {
    margin-bottom: 0.5%;
    text-decoration: none;
}

.sidebar-list-item-52:hover {
    color: rgb(0, 195, 255);
}

.sidebar-list-item-52:hover:focus {
    color: red;
}

.sidebar-list-defective-item-51 {
    margin-left: 5%;
    text-decoration: none;
}

.sidebar-list-defective-item-51:hover {
    color: rgb(0, 195, 255);
}

.sidebar-list-defective-item-51:hover:focus {
    color: red;
}